@import '../../styles/theme';

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
	background: $color-bg;
	color: $color-primary;

	> .intro {
		font-family: 'Reem Kufi', sans-serif;
		font-size: 3.75em;
		font-weight: 600;
	}

	> .tagline {
		font-size: 1.5rem;
		margin: 1.5rem 0;
		font-weight: 100;
	}
}
