.portfolio-page {
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
	flex: 0 1 auto;
	flex-direction: column;
  justify-content: center;
  
  @media (max-width: 414px) {
    padding-top: 3rem;
  }

  h1 {
    padding: 1rem 0;
    font-size: 3rem;
  }

  .content-grid {
    flex: auto;
  }

  .portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media (max-width: 415px) {
      flex-direction: column;
      align-items: center;
    }
  }
}