@import '../../styles/theme';

.portfolio-page {
  padding-top: 3rem;
  min-height: 100vh;
  display: flex;
	flex: 1 1 auto;
	flex-direction: column;
  justify-content: center;
  
  h1 {
    padding: 1rem 0;
    font-size: 3rem;
  }

  .content-grid {
    flex: auto;
  }

  .portfolio-wrapper {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .portfolio-content {
      padding: 1rem 0;
      font-size: 0.75rem;
      line-height: 1.5rem;
    }
  }

  

}