@import '../../styles/theme';

.social-icons {
	padding: 0.25rem 0;
	font-size: 3rem;
	@media (max-width: 414px) {
	font-size: 3rem;
	}
	
	a {
		padding: 0 0.625rem;
		color: $color-primary;

		svg path{
			fill: $color-primary;
		}

		&.devto svg {
			margin-bottom: -0.25rem;
			width: 2.70rem;
			height: 2.70rem;
		}
	}
}