@import './theme';
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
/* Typography */

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
}

/* reem-kufi-regular - latin */
@font-face {
  font-family: 'Reem Kufi';
  font-style: normal;
  font-weight: 400;
  src: local('Reem Kufi Regular'), local('ReemKufi-Regular'),
       url('../libs/fonts/reem-kufi-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../libs/fonts/reem-kufi-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
	@media (min-width: 576px) {
		font-size: 18px;
	}
	@media (min-width: 768px) {
		font-size: 20px;
	}
	@media (min-width: 992px) {
		font-size: 20px;
	}
	@media (min-width: 1440px) {
		font-size: 22px;
	}
}

body {
	background-color: $bg-primary;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: $text-primary;
}

::selection {
  background: $color-highlight;
}

h1 {
	color: $color-primary;
	font-weight: 900;
}

.content-grid {
	margin: 0 auto;
	width: calc(100% - 5rem); // mobile

	@media (min-width: 415px) { // ipad
		width: calc(100% - 5rem);
	}

	@media (min-width: 769px) { // ipad pro
		width: calc(100% - 10rem);
	}

	@media (min-width: 1025px) { // desktop/laptop
		width: calc(100% - 20rem);
	}
}


::-webkit-scrollbar { 
	display: none; 
}