// blue theme
$color-primary: #5CB0DD;
$color-alternate: #FAFAFA;
$parallax-stars: $color-primary;
$nav-alpha: rgba(250, 250, 250, 0.75);
$color-highlight: #D6EBF6;
$bg-landing: $color-alternate;
$bg-primary: $color-alternate;
$bg-alternate: $color-primary;
$text-landing: $color-primary;
$text-primary: #202121;
$text-alternate: $color-alternate;
