// $yellow-black-primary: #1E1E1E;
$yellow-black-primary: #282828;
$yellow-black-bg: #FFEB3B;
$green-white-primary: #FAFAFA;
$green-white-bg: #43A047;
$grey-white-primary: #FAFAFA;
$grey-white-bg: #485564;
$indigo-white-primary: #FAFAFA;
$indigo-white-bg: #303F9F;
$red-white-primary: #FAFAFA;
$red-white-bg: #AF3D4E;
$white-blue-primary: #0277BD;
$white-blue-bg: #FAFAFA;
$white-grey-primary: #4B5658;
$white-grey-bg: #EDEDED;
$white-indigo-primary: #303F9F;
$white-indigo-bg: #E8EAF6;
$white-red-primary: #AF3D4E;
$white-red-bg: #EDEDED;

$color-primary: $yellow-black-primary;
$color-secondary: #FAFAFA;
$text-primary: $yellow-black-primary;
$text-secondary: #FAFAFA;
$color-bg: $yellow-black-bg;