// $yellow-black-bg: #FFEB3B;
// $yellow-black-text: #282828;
// $green-white-bg: #43A047;
// $green-white-text: #FAFAFA;
// $grey-white-bg: #485564;
// $grey-white-text: #FAFAFA;
// $indigo-white-bg: #303F9F;
// $indigo-white-text: #FAFAFA;
// $red-white-bg: #AF3D4E;
// $red-white-text: #FAFAFA;
// $white-blue-bg: #FAFAFA;
// $white-blue-text: #0277BD;
// $white-grey-bg: #EDEDED;
// $white-grey-text: #4B5658;
// $white-indigo-bg: #E8EAF6;
// $white-indigo-text: #303F9F;
// $white-red-text: #AF3D4E;
// $white-red-bg: #EDEDED;

// cyan theme
// $nav-alpha: rgba(244, 247, 246, 0.75);
// $color-primary: #49c5b6;
// $color-alternate: #F4F7F6;
// $parallax-stars: $color-primary;
// $color-highlight: #DBEBD9;
// $bg-landing: $color-alternate;
// $bg-primary: $color-alternate;
// $bg-alternate: $color-primary;
// $text-landing: $color-primary;
// $text-primary: #202121;
// $text-alternate: $color-alternate;

// blue theme
$color-primary: #5CB0DD;
$color-alternate: #F4F4F6;
$parallax-stars: $color-primary;
$nav-alpha: rgba(244, 244, 246, 0.75);
$color-highlight: #D6EBF6;
$bg-landing: $color-alternate;
$bg-primary: $color-alternate;
$bg-alternate: $color-primary;
$text-landing: $color-primary;
$text-primary: #202121;
$text-alternate: $color-alternate;
