@import '../../styles/theme';

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 4rem;
  background-color: $bg-primary;
  color: $color-primary;

  .menu {
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;

    &__item {
      padding: 0.25rem 0;
      margin: 0 1rem;
      font-size: 1.25rem;
      font-weight: 400;
      border-bottom: 2px solid transparent;

      &:hover {
        cursor: pointer;
        border-bottom: 2px solid $color-primary;
      }
    }
  }
}