@import '../../styles/theme';

nav {
	// font-family: 'Reem Kufi', sans-serif;
  
  display: flex;
  align-items: center;
  height: 3.20rem;
  background-color: $color-primary;
  color: white;

  .menu {
    display: flex;
    justify-content: center;

    &__item {
      border-bottom: 2px solid $text-secondary;
      text-transform: uppercase;
      font-weight: bold;
      // padding: 0.375rem 1rem;
      padding-top: calc(0.25rem + 2px);
      padding-bottom: 0.25rem;
      margin: 0 1rem;
      font-size: 0.875rem;

      &:hover {
        cursor: pointer;
        border-color: $color-bg;
        color: $color-bg;
      }
    }
  }
}