@import '../../styles/theme';

nav {
  // font-family: 'Reem Kufi', sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 3rem;
  background-color: $color-primary;
  color: #FAFAFA;

  .menu {
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;

    &__item {
      // border-bottom: 2px solid $text-secondary;
      // text-transform: uppercase;
      // font-weight: bold;
      padding: 0.25rem 0;
      margin: 0 1rem;
      font-size: 0.875rem;

      &:hover {
        cursor: pointer;
        border-color: $color-bg;
        color: $color-bg;
      }
    }
  }
}