@import '../../styles/theme';

.landing-page {
	min-height: 100vh;
	background: $color-bg;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	justify-content: center;
	
	main {
		flex: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 30px;
		text-align: center;
		color: $color-primary;
	
		> .intro {
			font-family: 'Reem Kufi', sans-serif;
			font-size: 4rem;
			font-weight: 600;
			@media (max-width: 414px) {
				font-size: 3rem;
			}
		}
	
		> .tagline {
			font-size: 1.5rem;
			margin: 1.5rem 0;
			font-weight: 100;
		}
	}
}

