@import '../../styles/theme';

.about-page {
  min-height: 100vh;
  display: flex;
	flex: 1 1 auto;
	flex-direction: column;
  justify-content: center;
  
  h1 {
    padding: 1rem 0;
    font-size: 3rem;
  }

  .content-grid {
    flex: auto;
  }

  .about-wrapper {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .about-pic {
      align-self: center;
      padding-right: 2rem;
      
      img {
        max-width: 10rem;
        border-radius: 50%;
        border: 2px solid $color-primary;
      }
    }
    
    .about-content {
      padding: 1rem 0;
      font-size: 0.75rem;
      line-height: 1.5rem;
    }
  }

  

}